* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.wrapper {
    margin: 0 auto;
    max-width: 1920px;
    background-color: rgba(198, 188, 188, 0.742);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.task-title {
    color:red;
}
.task {
    border: 2px dashed darkblue;
    width: 100%;
    padding: 15px;

    
}
.task--middle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:30px;
    width: 100%;
}